<div class="container">
<h1>Add to Your Log,  <%=@user.username.capitalize %></h1>

    <%#  refactor as partial? %>
    <div class="container">
        <form action='/sightings' method="POST" id="new_sighting_form"></div>
            <div class="form-group">    
                <label for="sighting_location">Location:</label>
                <input class="form-control" type="text" name="sighting[location]" required>
            </div>
            <div class="form-group">    
                <label for="sighting_time_date">Time/Date:</label>
                <input class="form-control" type="text" id=""sighting_time_date" name="sighting[time_date]" required>
            </div>
            <div class="form-group"> 
                <label for="bird_species">Bird:</label>
                <input class="form-control" type="text" id="bird_species" name="bird[species]" required>
            </div>   
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="4" cols="60" name="sighting[description]" id="description" form="new_sighting_form"></textarea>
            </div>
            <input class="form-control" type="submit" value="Add Sighting">
        </form>
    </div>
</div>    