/* Sign In Copy: */

body{
  
  
}


.login {
font-family: Avenir-Light;
font-size: 42px;
color: #000000;
}

/* MENU: */
/*font-family: AvenirNext-Bold;
font-size: 20px;
color: #4A4A4A;*/


/* Sign up Copy: */
/*font-family: AvenirNext-Medium;*/
/*font-size: 24px;
color: #9B9B9B;
letter-spacing: 0;*/


/* Input / Text Copy 2: */


 Input / Text Copy 3: 


/* CITY BIRD Copy: */
/*font-family: AvenirNext-Bold;
font-size: 46px;
color: #4A4A4A;*/


/* Buttons / Primary Copy: */


/* City Bird, by Chris: */
/*font-family: AvenirNext-UltraLightItalic;
font-size: 24px;
color: #9B9B9B;
letter-spacing: 0;
*/

/* Line: */
/*border: 1px solid #979797;*/

/*/