body {
  height: 100%;
}

.landing-header {
  position: relative;
  /*top: 40px;*/
  text-align: center;
  padding-top: 40vh;
}
h1 {
  margin-bottom: 10px;
}

.container {
  /*text-align: center;*/
  position: relative;
  top: 7vh;
}

ul {
  list-style-type: none;
}

.header-plus {
  display:inline-block;
}
.main-image{
  float: right;
  height:200px;
  width: 40%;
  object-fit: contain;
}

.summary {
  text-align: left;
}
/*.alert{
width: 100%;
text-align: center;
font-size: 1em;
visibility:visible;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s,
              opacity 2s linear;
}*/

.success{
  color: #050d01;
  background-color: #0ec733
}

.error{
  color: #5c132d;
  background-color: #eb598c;
}
/*.container {
  border: 1px solid black;
}*/