<h1>Joing the Community</h1>


<form action="/signup" method="POST">
  <p><label for ="user_name">Enter Username:</label>
  <input type="text" name="user[username]" id="user_name"></p>

  <p><label for ="user_password">Enter Password:</label>
  <input type="password" name="user[password]" id="user_password"></p>
  <input type="submit" placeholderpa="submit">
</form>