<h1>Log in</h1>


<form action="/login" method="POST">
  <p><label for ="user_name">Enter Username:</label>
  <input type="text" name="username" id="user_name"></p>

  <p><label for ="user_password">Enter Password:</label>
  <input type="password" name="password" id="user_password"></p>
  <input type="submit" placeholder="submit">
</form>