<% if flash.has?(:error) %>
  <div class="error flash fade-out"><%= flash[:error] %></div>
<% elsif flash.has?(:success) %>
  <div class="success flash fade-out"><%= flash[:success] %></div>
<% end %>  

<div class="landing-header">
<h1 class="display-4">Log in</h1>


<form action="/login" method="POST">
  <p><label for ="user_name">Enter Username:</label>
  <input type="text" name="username" id="user_name"></p>

  <p><label for ="user_password">Enter Password:</label>
  <input type="password" name="password" id="user_password"></p>
  <input type="submit" class="btn btn-primary btn-lg" placeholder="submit">
  <a href="/signup" class="btn btn-primary  btn-lg">Sign Up</a>
</form>
</div>