<h1><%= @user.username %></h1>

<h3>Sightings Log</h3>


  <% if !@user.sightings.empty?%> 
    <ul>
    <% @user.sightings.each do |sighting| %>
    <li><a href="/sightings/<%=sighting.id%>"><%=sighting.time_date%> - <%=sighting.location %></a></li>
    <% end %>
    </ul>

  <% elsif @user == current_user %>
    <%#  refactor as partial? %>
    <h3>Add a new Bird Sighting</h3>
    <form action='/sightings' method="POST">
    <p><label for="sighting_location">Location:</label>
    <input type="text" name="sighting[location]" required>
    </p>
    <p><label for="sighting_time_date">Time/Date:</label>
    <input type="text" id=""sighting_time_date" name="sighting[time_date]" required>
    </p>
    <p><label for="bird_species">Bird:</label>
    <input type="text" id="bird_species" name="bird[species]" required>
    </p>
    <p><label for="description">Description:</label>
    <input type="text" id="description" name="sighting[description]" required>
    </p>
    <input type="submit" value="Add Sighting">
  <% end %>


