<!DOCTYPE html>
<html>
<head>
  <title>CityBird</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <% if logged_in? %>
      <%= User.find(session[:user_id]).username %> 
      <%else%>
      <a href="/login">Login</a>
      <% end %>
    </nav>
  </header>

      <%= yield %>


<footer><hr>FOOTER 
<% if logged_in? %>
  <a href="/logout">LogOut </a>  
  <% end %>
  <hr></footer>
</body>
</html>