<!DOCTYPE html>
<html>
<head>
  <title>CityBird</title>
</head>
<body>
<header><hr>
  <% if logged_in? %>
  Logged in as: <%= User.find(session[:user_id]).username %> 
  <%else%>
  <a href="/login">Login</a>
  <% end %>
  <hr></header>

      <%= yield %>


<footer><hr>FOOTER 
<% if logged_in? %>
  <a href="/logout">LogOut </a>  
  <% end %>
  <hr></footer>
</body>
</html>