<!DOCTYPE html>
<html>
<head>
  <title>CityBird</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
  
  <header>
    <div class="banner">
      <div class="icon-container">
        <embed class="icon" src="assets/birdy.svg">
      </div>
      <h1 class="title-header">CITY BIRD</h1>
    </div>
    <nav class="nav">
      <% if logged_in? %>
      <a class="nav-link" href="/users/<%=current_user.id%>">Home</a>
      <a class="nav-link" href="/users">Users</a>
      <a class="nav-link" href="/birds">Birds</a>
      <a class="nav-link" href="/sightings">Sightings</a>
      <a class="nav-link" href="/logout">Logout</a>      
      <% end %>
    </nav>    
  </header>

      <%= yield %>
</div>
</div>
<!-- <footer class="blockquote-footer fixed-bottom"><hr>
Created By C. Rudolph,   2017
  </footer> -->

</body>
</html>
