<!DOCTYPE html>
<html>
<head>
  <title>CityBird</title>
</head>
<body>
<header><hr>HEADER<hr></header>

      <%= yield %>


<footer><hr>FOOTER 
<% if logged_in? %>
  <a href="/logout"><button>Logout</button> </a>  
  <% end %>
  <hr></footer>
</body>
</html>