
<div class="landing-header">
  
  <h1 class= "display-4">City Bird</h1>
  <h4>Sighting Logger</h3>

  <p><a href="/signup"><button type="button" class="btn btn-primary  btn-lg">Sign Up</button></a>

  <a href="/login"><button type="button" class="btn btn-primary btn-lg">Log In</button></a></p>

</div>

 